Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_excel('anova_lab_data.xlsx', sheet_name='data_collected')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [4]:
data.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [5]:
data.groupby('Power ').agg(np.mean)

        Etching Rate
Power
160 W          5.792
180 W          6.238
200 W          8.318

State the null hypothesis

That the means for the etching rate of the 3 types of power are the same

State the alternate hypothesis

That at least one the means for the etching rate are different

What is the significance level

0,05

DOF

15-3 = 12

In [6]:
data.dtypes

Power            object
Etching Rate    float64
dtype: object

In [7]:
#In this section, use Python to conduct ANOVA.
#What conclusions can you draw from the experiment and why?

In [8]:
data.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [9]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [10]:
data.describe()

       Etching Rate
count     15.000000
mean       6.782667
std        1.228643
min        5.430000
25%        5.845000
50%        6.240000
75%        7.725000
max        9.200000

In [16]:
data.columns = data.columns.str.replace(' ', '').str.lower().str.replace('etchingrate', 'etching_rate')
data.columns

Index(['power', 'etching_rate'], dtype='object')

In [18]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('etching_rate ~ C(power)',data=data).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

We  reject the null hypothesis meaning that changing the power has an effect on the etching rate.